/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

$reset-btn-bgc: #e7902c;
$save-btn-bgc: #277a47;
$del-btn-bgc: #e7322c;
$text-btn: #fff;
$background-btn: #333;

.notify {
  &-error {
    background-color: $del-btn-bgc;
    color: $text-btn;
    height: max-content;
  }

  &-warning {
    background-color: $reset-btn-bgc;
    color: $text-btn;
    height: max-content;
  }

  &-success {
    background-color: $save-btn-bgc;
    color: $text-btn;
    max-width: 200px;
    height: max-content;
  }

  & .mat-button {
    background: $background-btn;
  }
}

mat-progress-spinner.mat-progress-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
